* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    max-width: 1920px;
    background-color: #FF6900;
    color: white;
    margin: auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;

}

#header-logo {
    width: 150px;
}

.card-row {
    display: flex;
    background-color: lightgray;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;

}

.card {
    position: relative;
    width: calc( 100% / 3 );
    height: 725px;
    background-color: aquamarine;
    border: 1px dashed black;

}

img {
    max-width: 448px;
    max-height: 644px;

}

img::after {
    background-image: url(../img/1b.webp);
    position: absolute;
    z-index: 1;
}

.red {
    color: red;
}

