* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FF6900;
    color: white;
    margin: auto;
    position: fixed;
    height: 72px;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-row {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    align-items: center;

}

.navbar {
    padding: 17px;
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
}

a {
    color: white;
    text-decoration: none;
    margin-inline: 3px;
    font-weight: 700;
}

.store {
    margin-right: 13px;
}
#header-logo {
    width: 150px;
}

.card-container {
    margin-top: 130px;
}
.card-row {
    display: flex;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    row-gap: 62px;
    column-gap: 20px;
}

.card {
    position: relative;
    width: 447px;
    height: 725px;

}

img {
    max-width: 448px;
    max-height: 644px;

}

#img1:hover {
    content: url(../img/1b.webp);
}

#img2:hover {
    content: url(../img/2b.webp);
}

#img3:hover {
    content: url(../img/3b.webp);
}

#img4:hover {
    content: url(../img/4b.webp);
}

#img5:hover {
    content: url(../img/5b.webp);
}

#img6:hover {
    content: url(../img/6b.webp);
}

.sticker {
    color: white;
    display: inline-block;
    font-weight: 600;
    padding: 6px;
}

.sconto {
    background-color: red;
    position: absolute;
    bottom: 20%;
}
.eco {
    background-color: green;
    position: absolute;
    bottom: 20%;
    left: 12%;
}

.heart {
    background-color: white;
    font-size: 38px;
    display: inline;
    padding: 8px 15px 8px 16px;
    position: absolute;
    right: 0;
    top: 1%;
}

.red {
    color: red;
}

.solo{
    position: absolute;
    left: 0%;
}

footer {
    background-color: #1A1A1A;
    height: 111px;
    max-width: 1920px;
    margin: auto;
}

.footer-container {
    max-width: 1920px;
    padding-top: 30px;
}

.footer-row {
    width: 1400px;
    margin: auto;
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
}

.col {
    color: white;
}

.col1 {
    font-size: 19px;
    font-weight: 600;
}

.col-flex {
    display: flex;
    margin-top: 10px;

}